<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/base :: head(#{page.home})}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:replace="~{layouts/base :: header}"></header>

<!--  Content  -->
<div class="my-4 px-3" style="min-height: 80vh">
  <h2 th:text="#{home.title}">Top 10 best employees</h2>
  <table class="table table-bordered text-center mt-4">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" th:text="#{home.table.fullName}">FullName</th>
      <th scope="col" th:text="#{home.table.image}">Image</th>
      <th scope="col" th:text="#{home.table.score}">Score</th>
      <th scope="col" th:text="#{home.table.department}">Department</th>
      <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="employeeScore,iterStat : ${employeeScorePage.content}" th:object="${employeeScore}">
      <td th:text="${iterStat.count}">1</td>
      <td th:text="*{employee != null} ? *{employee.fullName + ' - ID' + employee.id} : 'Nguyen Van A'">Nguyen Van Dong</td>
      <td><img th:if="${employeeScore.employee != null and employeeScore.employee.imageUrl != null}" th:src="|/*{employee.imageUrl}|" th:alt="*{employee.fullName}" class="rounded-circle object-fit-cover" style="width: 80px; height: 80px; "/></td>
      <td th:text="*{totalRewards - totalDisciplines}">1</td>
      <td th:text="${(employeeScore.employee != null and employeeScore.employee.department != null) ? (employeeScore.employee.department.code + ' - ' + employeeScore.employee.department.name) : ''}">HR001</td>

      <td>
        <a th:href="@{/evaluation/{employeeid}(employeeid=*{id})}" class="btn btn-success" th:text="#{button.detail}">Detail</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<footer th:replace="~{layouts/base :: footer}"></footer>

<div th:replace="~{layouts/base :: toast}"></div>

</body>
</html>