<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/base :: head('Ranking Employee')}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:replace="~{layouts/base :: header}"></header>

<!--  Content  -->
<div class="my-4 px-3" style="min-height: 80vh">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <h2 th:text="#{ranking.employee.title}">Ranking Employee</h2>
        <form action="#" th:action="@{/ranking/employee}" method="get">
          <input class="form-control ms-2" type="text" name="searchName" th:placeholder="#{search.placeholder}"/>
        </form>
      </div>
      <a href="/ranking/employee" th:href="@{/ranking}" th:text="#{ranking.department.title}">Ranking Department</a>
    </div>
  <table class="table table-bordered text-center mt-4">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" th:text="#{ranking.employee.fullName}">FullName</th>
      <th scope="col" th:text="#{ranking.reward}">Reward</th>
      <th scope="col" th:text="#{ranking.discipline}">Discipline</th>
      <th scope="col" th:text="#{ranking.score}">Score</th>
      <th scope="col" th:text="#{ranking.department}">Department</th>
      <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="employeeScore,iterStat : ${employeeScorePage.content}" th:object="${employeeScore}">
      <td th:text="${iterStat.count}">1</td>
      <td th:text="*{employee != null} ? *{employee.fullName + ' - ID' + employee.id} : 'Nguyen Van A'">Nguyen Van Dong</td>
      <td th:text="*{totalRewards}">Men</td>
      <td th:text="*{totalDisciplines}">14-07-2002</td>
      <td th:text="*{totalRewards - totalDisciplines}">1</td>
      <td th:text="${(employeeScore.employee != null and employeeScore.employee.department != null) ? (employeeScore.employee.department.code + ' - ' + employeeScore.employee.department.name) : ''}">HR001</td>

      <td>
        <a th:href="@{/evaluation/{employeeid}(employeeid=*{id})}" class="btn btn-success" th:text="#{button.detail}">Detail</a>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" th:class="${employeeScorePage.hasPrevious() ? '' : 'disabled'}">
        <a class="page-link" th:href="@{/ranking/employee(page=${employeeScorePage.number - 1})}" th:if="${employeeScorePage.hasPrevious()}" th:text="#{pagination.previous}">Trang trước</a>
      </li>

      <li class="page-item" th:if="${employeeScorePage.totalPages > 0}" th:each="i : ${#numbers.sequence(0, employeeScorePage.totalPages - 1)}" th:class="${i == employeeScorePage.number ? 'active' : ''}">
        <a class="page-link" th:href="@{/ranking/employee(page=${i})}" th:text="${i + 1}"></a>
      </li>

      <li class="page-item" th:class="${employeeScorePage.hasNext() ? '' : 'disabled'}">
        <a class="page-link" th:href="@{/ranking/employee(page=${employeeScorePage.number + 1})}" th:if="${employeeScorePage.hasNext()}" th:text="#{pagination.next}">Trang tiếp theo</a>
      </li>
    </ul>
  </nav>
</div>

<footer th:replace="~{layouts/base :: footer}"></footer>

<div th:replace="~{layouts/base :: toast}"></div>

</body>
</html>