<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Modal create evalutaion -->
<div class="modal fade" id="create_evaluation_modal" th:fragment="create_evaluation">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-bg-primary">
                <h4 class="modal-title">Create Evaluation For Employee</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" name="create_evaluation_form" id="create_evaluation_form" novalidate="novalidate">
                <div class="modal-body">

                    <!-- Discripline or Reward -->
                    <div class="form-group">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="isCommended" name = "isCommended">
                            <label for="isCommended" class="control-label">
                                Is Reward
                            </label>
                        </div>
                    </div>

                    <!-- Reason -->
                    <div class="form-group">
                        <label for="reason" class="control-label">Reason</label>
                        <input type="text" class="form-control" id="reason" name="reason" value="">
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="btn_submit_create_evaluation">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal update evalutaion -->
<div class="modal fade" id="update_evaluation_modal" th:fragment="update_evaluation">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-bg-primary">
                <h4 class="modal-title">Create Evaluation For Employee</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" name="update_evaluation_form" id="update_evaluation_form" novalidate="novalidate">
                <div class="modal-body">

                    <!-- Discripline or Reward -->
                    <div class="form-group">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="isCommended_update" name = "isCommended">
                            <label for="isCommended_update" class="control-label">
                                Is Reward
                            </label>
                        </div>
                    </div>

                    <!-- Reason -->
                    <div class="form-group">
                        <label for="reason_update" class="control-label">Reason</label>
                        <input type="text" class="form-control" id="reason_update" name="reason" value="">
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="btn_submit_update_evaluation">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Set New Password Form (admin) -->
<div class="modal fade" id="set_password_modal"  th:fragment="set_password">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-bg-primary">
                <h4 class="modal-title">Set New Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" name="set_password_form" id="set_password_form" novalidate="novalidate">
                <div class="modal-body">
                    <!-- New password -->
                    <div class="form-group">
                        <label for="new_password" class="control-label">New Password</label>
                        <input type="password" class="form-control" id="new_password" name="new_password" minlength="5" required value="">
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="btn_submit_set_password">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- create user Form (admin) -->
<div class="modal fade" id="create_user_modal"  th:fragment="create_user">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-bg-primary">
                <h4 class="modal-title">Create User Account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" name="create_user_form" id="create_user_form" novalidate="novalidate">
                <div class="modal-body">
                    <!-- Username -->
                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" minlength="5" required value="">
                    </div>
                    <!--  Password -->
                    <div class="form-group">
                        <label for="password" class="control-label">New Password</label>
                        <input type="password" class="form-control" id="password" name="password" minlength="5" required value="">
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="btn_submit_create_user">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Set Role Form Modal -->
<div class="modal fade" id="set_role_modal"  th:fragment="set_role">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-bg-primary">
                <h4 class="modal-title">Set Role</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" name="set_role_form" id="set_role_form" novalidate="novalidate">
                <div class="modal-body">
                    <!-- New role -->
                    <div class="form-group">
                        <label for="role" class="control-label">Set new role for user</label>
                        <select class="form-select" id="role" name="role">
                            <option value="ADMIN">ADMIN</option>
                            <option value="MANAGER">MANAGER</option>
                            <option value="CUSTOMER" selected>CUSTOMER</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="btn_submit_set_role">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>