<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/base :: head('Employee Manager')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{layouts/base :: header}"></header>

<!--  Content  -->
<div class="my-4 px-3 mx-auto" style="min-height: 80vh; max-width: 800px;">
    <form th:action="@{/employee/save}" th:object="${employeeDTO}" method="post" enctype="multipart/form-data">

        <!-- Full Name -->
        <div class="form-group">
            <label for="fullName">Full Name:</label>
            <input class="form-control" type="text" id="fullName" th:field="*{fullName}" />
            <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-danger"></div>
        </div>

        <!-- Gender -->
        <div class="my-3">
            <label for="isMale">Is Male:</label>
            <input type="checkbox" id="isMale" th:field="*{isMale}" />
            <div th:if="${#fields.hasErrors('isMale')}" th:errors="*{isMale}" class="text-danger"></div>
        </div>

        <!-- Image file -->
        <div class="form-group">
            <label for="imageFile">Image file:</label>
            <input class="form-control" type="file" id="imageFile" name="imageFile"/>
<!--            <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger"></div>-->
        </div>

        <!-- Date of Birth -->
        <div class="form-group">
            <label for="dob">Date of Birth:</label>
            <input class="form-control" type="date" id="dob" th:field="*{dob}" />
            <div th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="text-danger"></div>
        </div>

        <!-- Department -->
<!--        <div class="form-group">-->
<!--            <label for="department">Phòng Ban:</label>-->
<!--            <select class="form-select" id="department" name="departmentId" th:field="*{departmentId}">-->
<!--                <option value="" disabled selected>Chọn Phòng Ban</option>-->
<!--                <option th:each="d : ${departments}" th:text="|${d.name} - ${d.code}|" th:value="${d.id}">One</option>-->
<!--            </select>-->
<!--        </div>-->
        <div class="form-group">
            <label for="department">Phòng Ban:</label>
            <select class="form-select" id="department" name="departmentId">
                <option value="" selected>Chọn Phòng Ban</option>
                <option th:each="d : ${departments}" th:text="|${d.name} - ${d.code}|" th:value="${d.id}">One</option>
            </select>
        </div>

        <!-- Salary -->
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input class="form-control" type="number" step="0.01" id="salary" th:field="*{salary}" />
            <div th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" class="text-danger"></div>
        </div>

        <!-- Level -->
        <div class="form-group">
            <label for="level">Level:</label>
            <input class="form-control" type="number" id="level" th:field="*{level}" />
            <div th:if="${#fields.hasErrors('level')}" th:errors="*{level}" class="text-danger"></div>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email" id="email" th:field="*{email}" />
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
        </div>

        <!-- Phone -->
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input class="form-control" type="text" id="phone" th:field="*{phone}" />
            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></div>
        </div>

        <!-- Note -->
        <div class="form-group">
            <label for="note">Note:</label> <br/>
            <textarea id="note" th:field="*{note}"></textarea>
            <div th:if="${#fields.hasErrors('note')}" th:errors="*{note}" class="text-danger"></div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<footer th:replace="~{layouts/base :: footer}"></footer>

<script th:inline="javascript">
    function deleteDepartmentById(id) {
        let deleteUrl = "[(@{/employee/delete/})]" +id

        window.confirm("Are you sure want to delete this employee") &&
        fetch(deleteUrl, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    return response.json().then(error => {
                        throw new Error(error.message || 'Failed to delete the employee.');
                    });
                }})
            .catch (error => {
                console.error("Error: ", error)
                alert('An error occurred: ' + error.message);
            });
    }
</script>
</body>
</html>