<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/base :: head('Employee Manager')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{layouts/base :: header}"></header>

<!--  Content  -->
<div class="my-4 px-3" style="min-height: 80vh">
    <div th:if="${message}" class="alert alert-warning">
        <p th:text="${message}"></p>
    </div>
    <a th:href="@{/employee/create}" type="button" class="btn btn-primary">Create New Employee</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">FullName</th>
            <th scope="col">Sex</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Level</th>
            <th scope="col">Salary</th>
            <th scope="col">Department</th>
            <th scope="col">Profile Image</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Note</th>
            <th scope="col">Evaluation</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee,iterStat : ${employeePage.content}">
            <td th:text="${employee.id}">1</td>
            <td th:text="${employee.fullName}">Nguyen Van Dong</td>
            <td th:text="${employee.isMale} ? 'Male' : 'Female'">Men</td>
            <td th:text="${employee.dob}">14-07-2002</td>
            <td th:text="${employee.level}">1</td>
            <td th:text="${employee.salary}">9000</td>
            <th th:text="${employee.department} ? |${employee.department.code} - ${employee.department.name}| : 'No Department'">No Department</th>
            <td><img th:if="${employee.imageUrl}" th:src="|/${employee.imageUrl}|" th:alt="${employee.fullName}" class="rounded-circle object-fit-cover" style="width: 80px; height: 80px; "/></td>
            <td th:text="${employee.email}">dong4724@gmail.com</td>
            <td th:text="${employee.phone}">099999999</td>
            <td th:text="${employee.note}">....</td>
            <td>
                <a th:href="@{/evaluation/{employeeid}(employeeid=${employee.id})}" class="btn btn-success">Watch</a>
                <button data-bs-toggle="modal" data-bs-target="#create_evaluation_modal" data-th-attr="data-employeeid=${employee.id}"
                        type="button" class="btn btn-primary btn-add-evaluation">Add</button>
            </td>
            <td>
                <a th:href="@{/employee/edit/{id}(id=${employee.id})}" type="button" class="btn btn-primary">Update</a>
                <button th:onclick="|deleteEmployeeById(${employee.id})|" type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:class="${employeePage.hasPrevious() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{/employee(page=${employeePage.number - 1})}" th:if="${employeePage.hasPrevious()}">Trang trước</a>
            </li>

            <li class="page-item" th:if="${employeePage.totalPages > 0}" th:each="i : ${#numbers.sequence(0, employeePage.totalPages - 1)}" th:class="${i == employeePage.number ? 'active' : ''}">
                <a class="page-link" th:href="@{/employee(page=${i})}" th:text="${i + 1}"></a>
            </li>

            <li class="page-item" th:class="${employeePage.hasNext() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{/employee(page=${employeePage.number + 1})}" th:if="${employeePage.hasNext()}">Trang tiếp theo</a>
            </li>
        </ul>
    </nav>
</div>

<footer th:replace="~{layouts/base :: footer}"></footer>

<div th:replace="~{layouts/base :: toast}"></div>

<!--Modal-->
<div th:replace="~{modal/modals :: create_evaluation}"></div>

<script th:inline="javascript">
    function deleteEmployeeById(id) {
        let deleteUrl = "[(@{/employee/delete/})]" +id

        window.confirm("Are you sure want to delete this employee") &&
        fetch(deleteUrl, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    return response.json().then(error => {
                        throw new Error(error.message || 'Failed to delete the employee.');
                    });
                }})
            .catch (error => {
                console.error("Error: ", error)
                alert('An error occurred: ' + error.message);
            });
    }


    $(document).ready(function(){

        // Move employeeId to creation evaluation form
        $(".btn-add-evaluation").click(function(){
            let employeeId = $(this).data("employeeid");
            console.log("Employee ID: ", employeeId)
            $("#btn_submit_create_evaluation").val(employeeId);
        });

        // Submit creation evaluation form
        $("#create_evaluation_form").submit(function (e) {
            e.preventDefault();
            let employeeId =  $("#btn_submit_create_evaluation").val()

            let form = $(this)
            let formData = $(this).serialize()

            let createUrl = "[(@{/evaluation/create/})]" + employeeId;
            $.ajax({
                url:  createUrl,
                type: "POST",
                data: formData,
                success: function (response) {
                    createToast("info", "Create evaluation success!")
                    console.log("Success create evaluation!", response)
                    form.trigger('reset')
                },
                error: function (error) {
                    createToast("danger", "Create evaluation failed!")
                    console.log("Error submitting form", error);
                }
            })
        })
    });

</script>
</body>
</html>