<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/base :: head(#{page.department})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="~{layouts/base :: header}"></header>

    <!--  Content  -->
    <div class="my-4 px-3" style="min-height: 80vh">
        <div th:if="${message}" class="alert alert-warning">
            <p th:text="${message}"></p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <h2 th:text="#{department.title}">List Department</h2>
                <form action="#" th:action="@{/department}" method="get">
                    <input class="form-control ms-2" type="text" name="searchName" th:placeholder="#{search.placeholder}"/>
                </form>
            </div>
            <a th:href="@{/department/create}" type="button" class="btn btn-primary" th:text="#{department.create}">New Department</a>
        </div>
        <table class="table table-bordered text-center mt-4">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{department.code}">Code</th>
                <th scope="col" th:text="#{department.name}">Name</th>
                <th scope="col" th:text="#{department.countEmployee}">Count Employee</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department,iterStat : ${departmentPage.content}">
                <th scope="row" th:text="${iterStat.count}">1</th>
                <td th:text="${department.code}">HR001</td>
                <td th:text="${department.name}">Human Resource</td>
                <td><a th:href="@{/employee/department/{id}(id=${department.id})}" th:text="${department.countEmployee}">0</a></td>
                <td>
                    <a th:href="@{/department/edit/{id}(id=${department.id})}" type="button" class="btn btn-primary" th:text="#{button.update}">Update</a>
                    <button th:onclick="|deleteDepartmentById(${department.id})|" type="button" class="btn btn-danger" th:text="#{button.delete}">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:class="${departmentPage.hasPrevious() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{/department(page=${departmentPage.number - 1})}" th:if="${departmentPage.hasPrevious()}" th:text="#{pagination.previous}">Trang trước</a>
                </li>

                <li class="page-item" th:if="${departmentPage.totalPages > 0}" th:each="i : ${#numbers.sequence(0, departmentPage.totalPages - 1)}" th:class="${i == departmentPage.number ? 'active' : ''}">
                    <a class="page-link" th:href="@{/department(page=${i})}" th:text="${i + 1}"></a>
                </li>

                <li class="page-item" th:class="${departmentPage.hasNext() ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{/department(page=${departmentPage.number + 1})}" th:if="${departmentPage.hasNext()}" th:text="#{pagination.next}">Trang tiếp theo</a>
                </li>
            </ul>
        </nav>
    </div>

    <footer th:replace="~{layouts/base :: footer}"></footer>

    <script th:inline="javascript">
        function deleteDepartmentById(id) {
            let deleteUrl = "[(@{/department/delete/})]" +id

            window.confirm("Are you sure want to delete this department") &&
            fetch(deleteUrl, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
            if (response.ok) {
                window.location.reload();
            } else {
                return response.json().then(error => {
                    throw new Error(error.message || 'Failed to delete the department.');
                });
            }})
            .catch (error => {
                console.error("Error: ", error)
                alert('An error occurred: ' + error.message);
            });
        }
    </script>
</body>
</html>