<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/base :: head('Department Manager')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="~{layouts/base :: header}"></header>

    <!--  Content  -->
    <div class="my-4 px-3" style="min-height: 80vh">
        <a th:href="@{/department/create}" type="button" class="btn btn-primary">Create New Department</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department,iterStat : ${departments}">
                <th scope="row" th:text="${iterStat.count}">1</th>
                <td th:text="${department.code}">HR001</td>
                <td th:text="${department.name}">Human Resource</td>
                <td>
                    <a th:href="@{/department/edit/{id}(id=${department.id})}" type="button" class="btn btn-primary">Update</a>
                    <button onClick="deleteDepartmentById([[${department.id}]])" type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="~{layouts/base :: footer}"></footer>
    <script>
        function deleteDepartmentById(id) {
            window.confirm("Are you sure want to delete this department") &&
            fetch("/department/delete/" + id, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
            if (response.ok) {
                window.location.reload();
            }
        });
        }
    </script>
</body>
</html>